.Resident-list>h3{
    font-family: 'Pangolin', cursive;
    text-align: left;
    font-size: 28px;
    margin-left: 5%;
    margin-top: 40px;
}


.Resident-info-container{
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    min-height: 200px;
}